@use '../common' as c;

.section {
    margin-bottom: 4rem;
}
.companyContainer {
    border-left: 2px solid c.$primary-color;
    margin-bottom: 3rem;
    .companyHeader {
        display: flex;
        align-items: flex-end;
        padding: 1rem;
        .company {
            margin-left: 1rem;
            div {
                display: flex;
                align-items: baseline;
                small {
                    margin: 0 0.5rem;
                }
            }
        }
    }
    .companyBody {
        padding: 1rem;
        p {
            font-weight: bold;
        }
        .list {
            list-style: disc;  
            display: block;
            padding-left: 1rem;
            li {
                border: unset;
                background-color: unset;
                padding: unset;
                margin: unset;
                &::marker {
                    color: c.$primary-color
                }
            }
        }
    }
}