@use '../common' as c;

.tools {

    .p {
        font-size: 1rem;
        margin: 0;
        line-height: 1.5;
        font-weight: inherit;
    }

    .toolsContainer {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 20px;
        padding: 2rem 0;
    
        .tools {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100px;
            &:hover {
                svg {
                    transition: 0.3s;
                    fill: c.$primary-color;
                }
                span {
                    transition: 0.3s;
                    color: c.$primary-color;
                }
            }
            svg {
                fill: c.$text-color;
                margin-bottom: 0.3rem;
            }
        }
    }
    
    .text {
        padding-top: 2rem;
    }
}
