// DARK THEME
$base-color: #090909;
$dark-color: #1e1e1e;
$primary-color: #FFC441;
$primary-color-light: #ffde5a;
$text-color: #f1f1f1;

// LIGHT THEME
// $base-color: #ffffff;
// $dark-color: #ffffff;
// $primary-color: #FFC441;
// $primary-color-light: #f5a700;
// $text-color: #090909;